<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434461528549-1rnvsrm89mq0efkprsqg780mhufn769p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434461528549-1rnvsrm89mq0efkprsqg780mhufn769p</string>
	<key>API_KEY</key>
	<string>AIzaSyBMRLLT4KUAkeTer7Yr4bJaxj9SH4U_I6k</string>
	<key>GCM_SENDER_ID</key>
	<string>434461528549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plug2go.ev</string>
	<key>PROJECT_ID</key>
	<string>chargingplug2go</string>
	<key>STORAGE_BUCKET</key>
	<string>chargingplug2go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434461528549:ios:9e978ee9445489ca55df0c</string>
</dict>
</plist>